.my-navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar .nav-link {
  font-weight: bold;
  color: black; 
  margin-right: 15px; 
  padding: 8px 12px; 
  transition: all 0.3s ease; 
  border:none;
}

.navbar .nav-link:hover {
  color: black;
}

.navbar .nav-link.active {
  color: #e3098f; 
  font-weight: bold;
 
}

.nav-clean {
  padding: 0.25rem 0.5rem;  
  border: none !important;  
  background: none !important; 
  box-shadow: none !important;
  margin: 0 0.25rem;               
  text-decoration: none;   
}