
.btn {
    border-color: black;
    color: black;

}
.calendar {
    background-color: white;
}
.custom-btn:hover,
.custom-btn:active,
.custom-btn:focus {
  background-color: #6c757d !important; /* Bootstrap 'secondary' grey */
  color: white !important;
  border-color: #6c757d !important;
}
